@import "tailwindcss";

/* กำหนดค่า base (light mode) */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #a80000;
  --secondary: #434343;
  --accent: #ffb703;
}

/* map ตัวแปรเหล่านี้ไปเป็น utilities ของ Tailwind */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);

  --font-sans: var(--font-inter);
}

/* dark mode */
.dark {
  :root {
    --background: #0a0a0a;
    --foreground: #f0f0f0;
  }
}

/* base style */
body {
  @apply bg-background text-foreground font-sans antialiased;
}
