PORT=4000
CORS_ORIGIN=http://localhost:3000
NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=kaizeninst
DB_USER=kaizeninst_user
DB_PASS=uwSDpKSiy6AgWLOH

# JWT
JWT_SECRET=testsecretkey
JWT_EXPIRES=1d
